<style>
.eMSqcT {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "title"
        "storeBanner"
        "products"
        "freight"
        "summary"
        "recommendation"
        "o2o-recommendation";
    grid-column-gap: unset;
}


  .eMSqcT > :not(:last-child) {
    margin-bottom: 0.5rem;
}
@media (max-width: 1000px)

.bFYdAt {
    grid-area: recommendation;
}

.bFYdAt {
    overflow-x: auto;
    max-width: 1280px;
    grid-area: 1 / 1 / auto / -1;
}

:not(input, textarea) {
    text-transform: lowercase;
}

body * {
}

:not(input, textarea) {
    text-transform: lowercase;
}

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

  :not(input, textarea) {
    text-transform: lowercase;
}


  .nZLEL {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: rgb(40, 40, 40);
    margin-top: 16px;
}


  .hWTCYC {
    color: rgb(111, 111, 111);
    max-width: 370px;
    text-align: center;
    text-transform: none;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

  cTDeym {
    width: 100%;
    max-width: 370px;
    margin-top: 16px;
}

.dlByYy {
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
    border-radius: 8px;
    transition: all 100ms ease-in 0s;
    font-weight: bold;
    user-select: none;
    display: flex;
    position: relative;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    line-height: 1.5;
    border: 2px solid var(--borderColor);
    background-color: var(--backgroundColor);
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    --borderColor: #F80032;
    --backgroundColor: #F80032;
    --textColor: white;
    color: var(--textColor);
    cursor: pointer;
}


.hWTCYC {ver produtospadding: 20px;}
  
@media screen and (max-width: 767px){


  button.sc-iYsSXP.dlByYy.sc-hOukux.cTDeym {width: 80%;}
}


  @media screen and (min-width: 768px){

button.sc-iYsSXP.dlByYy.sc-hOukux.cTDeym {width: 30%;}
    
  }
  
  
</style>


<div style="background: transparent;" class="basket-screencomponent__BasketWrapper-sc-vhwqyk-0 eMSqcT"><div style="background: transparent;" class="sc-iGfYLI bFYdAt"></div><div style="text-align: center;
    justify-content: center; margin-bottom: 100px; background: transparent; min-height: 600px;" class="sc-fZlGKY kjmzMW"><svg style="margin-bottom: 30px;
    margin-top: 50px;" width="84" height="76" viewBox="0 0 84 76" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.4999 40.2908C31.2258 40.2908 32.6249 41.69 32.6249 43.4158V60.0825C32.6249 61.8084 31.2258 63.2075 29.4999 63.2075C27.774 63.2075 26.3749 61.8084 26.3749 60.0825V43.4158C26.3749 41.69 27.774 40.2908 29.4999 40.2908Z" fill="#868686"></path><path d="M41.9999 40.2908C43.7258 40.2908 45.1249 41.69 45.1249 43.4158V60.0825C45.1249 61.8084 43.7258 63.2075 41.9999 63.2075C40.274 63.2075 38.8749 61.8084 38.8749 60.0825V43.4158C38.8749 41.69 40.274 40.2908 41.9999 40.2908Z" fill="#868686"></path><path d="M54.4999 40.2908C56.2258 40.2908 57.6249 41.69 57.6249 43.4158V60.0825C57.6249 61.8084 56.2258 63.2075 54.4999 63.2075C52.774 63.2075 51.3749 61.8084 51.3749 60.0825V43.4158C51.3749 41.69 52.774 40.2908 54.4999 40.2908Z" fill="#868686"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M41.9999 0.5C38.5481 0.5 35.7499 3.29822 35.7499 6.75C35.7499 7.1431 35.7862 7.52773 35.8556 7.90072L12.8926 27.5833H4.49992C2.19873 27.5833 0.333252 29.4488 0.333252 31.75C0.333252 34.0512 2.19873 35.9167 4.49992 35.9167H4.86499C4.98222 36.4348 5.1362 37.1119 5.32254 37.9238C5.78072 39.9202 6.43496 42.7334 7.22003 46.0045C8.78765 52.5363 10.887 60.9362 12.9945 68.3122C13.4295 69.835 14.215 71.4891 15.4438 72.843C16.6967 74.2235 18.6325 75.5009 21.1675 75.5009H62.8341C65.3852 75.5009 67.3227 74.2009 68.5652 72.8276C69.7882 71.4759 70.5745 69.8265 71.0071 68.3122C73.1146 60.9362 75.214 52.5363 76.7816 46.0045C77.5667 42.7334 78.2209 39.9202 78.6791 37.9238C78.8654 37.1119 79.0194 36.4348 79.1366 35.9167H79.4999C81.8011 35.9167 83.6666 34.0512 83.6666 31.75C83.6666 29.4488 81.8011 27.5833 79.4999 27.5833H71.1074L48.1442 7.90063C48.2136 7.52767 48.2499 7.14307 48.2499 6.75C48.2499 3.29822 45.4517 0.5 41.9999 0.5ZM70.5897 35.9167H13.4119C13.4227 35.9639 13.4336 36.0115 13.4447 36.0597C13.898 38.0347 14.5458 40.8205 15.3233 44.0597C16.8806 50.5488 18.9479 58.8156 21.0072 66.0229C21.085 66.2954 21.1884 66.5543 21.3053 66.7779C21.3949 66.9491 21.4809 67.0775 21.5516 67.1675H62.4442C62.5183 67.0743 62.608 66.941 62.7006 66.7641C62.8179 66.5402 62.9195 66.2851 62.9945 66.0229C65.0537 58.8156 67.121 50.5488 68.6784 44.0597C69.4558 40.8205 70.1036 38.0347 70.5569 36.0597C70.568 36.0115 70.5789 35.9639 70.5897 35.9167ZM61.5037 27.5833H22.4963L39.9226 12.6465C40.5725 12.8754 41.2717 13 41.9999 13C42.7282 13 43.4274 12.8754 44.0773 12.6465L61.5037 27.5833Z" fill="#868686"></path></svg><h2 style="margin-bottom: 20px;" class="sc-clByNv nZLEL">Sua cesta tá vazia</h2><span style="margin-top: 20px;" class="sc-kOFvkO hWTCYC">Que tal navegar pelas milhares de ofertas e achar uma especial para você?</span> 
  <center style="margin-top: 30px; margin-bottom: 30px;">
<button id="forbnt" class="sc-iYsSXP dlByYy sc-hOukux cTDeym">ver produtos</button>
</center></div><div class="basket-screencomponent__FreightWrapper-sc-vhwqyk-1 kKqaQe"></div></div>



 <script>
        // Função que será chamada ao clicar no botão
        function redirecionarParaInicio() {
            // Redireciona o usuário para "/pages/inicio"
            window.location.href = "/pages/inicio";
        }

        // Obtém o elemento do botão pelo ID
        var botao = document.getElementById("forbnt");

        // Adiciona um ouvinte de evento para o clique no botão
        botao.addEventListener("click", redirecionarParaInicio);
    </script>