<div style="    position: relative;
    width: fit-content;
    margin: auto;
    top: 12%;
    border-radius: 8px;
    background: rgb(255, 255, 255);" class="styles__Box-sc-1xo1vj8-0 ikDVqA">
            <div onclick="closePopupCEPA2()" class="styles__CloseButton-sc-1xo1vj8-1 jmKLsI modal__amc__close">
                <svg viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" width="24px" height="24px" fill="#666">
                    <path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit"></path>
                </svg>
            </div>
            <p class="styles__Text-sc-1xo1vj8-2 styles__Title-sc-1xo1vj8-3 bBzjwY">
                as melhores ofertas e condições de frete para a sua região :)


            </p>
            <p class="styles__Text-sc-1xo1vj8-2 cnhnxG">digite um CEP</p>
            <div class="styles__Spacing-sc-1xo1vj8-4 jksgDb">
                <div  id="last-cep" class="src__Form-sc-znzia4-3 jyAVbP">
                    <div class="src__WrapperInput-sc-znzia4-4 eLfvxD">
                        <input id="cepInputCEPA2" placeholder="Digite o seu CEP" type="tel" class="src__InputUI-sc-znzia4-0 iOHyNY cepInformeConsulte">
                    </div>
                    <div class="src__WrapperButton-sc-znzia4-5 cXLgUG">
                        <button id="consultaCEPA2" class="src__ButtonUI-sc-znzia4-1 flUzZD frete__btn__consult">
                            <span class="src__Text-sc-154pg0p-0 src__TextUI-sc-znzia4-2 jTJWSs">
                                ok
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <p class="styles__Title-sc-15ug3df-0 jcQQIV">acesse os endereços cadastrados</p>
                <div class="styles__AddressesContainer-sc-15ug3df-1 bSBmWT"></div>
                <a href="" class="src__Wrapper-sc-tuf8v8-0 gIJwkt">fazer login</a>
            </div>
        </div>