<div style="    padding: 0;
    padding-top: 10px;
" title="Encontre a loja mais perto de você :)" class="inherited-styles-for-exported-element div-src__Content-sc-gvmvq-1-hPBtfU">
        <div class="div-navigation__Block-sc-qxn7tf-5-hNQeeC">
            <div id="fechar-popup171" onclick="fecharPopup171()" class="div-navigation__CloseButton-sc-qxn7tf-6-cpXcbs closeMobileModal">
                <svg viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" width="24" height="24" class="css-scan-generated-variation-svg-1">
                    <path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit" class="css-scan-generated-variation-path-2"></path>
                </svg>
            </div>
        </div>
        <p class="p-src__Title-sc-gvmvq-0-ePeWYF">Encontre a loja mais perto de você :)</p>
        <p class="p-content__Text-sc-1dw8mru-0-eIybEf">Digite um CEP</p>
        <div class="div-content__Spacing-sc-1dw8mru-1-hFfiBY">
            <div class="form-src__Form-sc-es0u0k-3-gMRIZB" >
                <div class="div-src__WrapperInput-sc-es0u0k-4-etAucB">
                    <input id="inputCEPA1" placeholder="Digite o seu CEP" class="input-src__InputUI-sc-es0u0k-0-fuZRVi cepInformIfr">
                </div>
                <div class="div-src__WrapperButton-sc-es0u0k-5-dLaJDU">
                    <button id="bntCEPA1" class="button-src__ButtonUI-sc-es0u0k-1-fesAEB">
                        <span id="modal-send-cep" class="span-src__Text-sc-154pg0p-0-src__TextUI-sc-es0u0k-2-bhEsxm">
                            ok
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div style="margin-top: 30px;"  class="css-scan-generated-variation-div-3">
            <p class="p-styles__Title-sc-1bu1gz2-0-jAZPSI">acesse os endereços cadastrados</p>
            <div class="div-styles__AddressesContainer-sc-1bu1gz2-1-kxyvNw"></div>
            <a href="" class="a-src__Wrapper-sc-tuf8v8-0-euuMiN">fazer login</a>
        </div>
    </div>