<div class="src__Content-sc-gvmvq-1 hPBthO" style="
    background: rgb(255, 255, 255);
    padding: 15px;
    min-height: 100%;
    width: 100%;
"><div class="navigation__Block-sc-qxn7tf-5 hNQeeC" style="
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
"><div id="closeButton32" onclick="closePopup32()" class="navigation__CloseButton-sc-qxn7tf-6 cpXcbs" onclick="fecharPopup2()" style="
    border: 0px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
"><svg viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" width="24" height="24"><path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit"></path></svg></div></div><div class="styled__Wrapper-sc-7qzbmg-0 hXCcKS" style="
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin-bottom: 30px;
"><text class="styled__Title-sc-7qzbmg-1 lkaJOL" style="
    font-weight: bold;
    font-size: 20px;
    color: rgb(40, 40, 40);
    padding: 22px 0px 18px;
">Proteja seu produto desde o primeiro dia</text><p class="styled__Text-sc-7qzbmg-4 kMauoY description-title" style="
    font-size: 14px;
    color: rgb(87, 87, 87);
">O seguro <text class="styled__Span-sc-7qzbmg-3 kHVUdG">roubo e furto qualificado com quebra acidental</text> é oferecido pela seguradora&nbsp;<text class="styled__Span-sc-7qzbmg-3 kHVUdG">Mapfre.</text></p><p class="styled__SubTitle-sc-7qzbmg-2 jpsaQH" style="
    font-weight: bold;
    font-size: 14px;
    color: rgb(40, 40, 40);
    padding: 16px 0px 12px;
">O que a seguradora cobre</p><ul class="styled__List-sc-7qzbmg-5 bkmjwa" style="
    margin: 0px;
    padding: 0px;
    font-weight: normal;
"><li style="display: none;" class="styled__ListItem-sc-7qzbmg-6 ZiKNw"><svg width="24" height="24" viewBox="0 0 24 24" fill="inherit" class="styled__Check-sc-7qzbmg-8 jPQIpv" style="
    fill: rgb(0, 128, 0);
    min-width: 24px;
    height: 18px;
    margin-right: 5px;
"><path d="M19.066 6.375a.75.75 0 111.06 1.06L9.531 18.031a.747.747 0 01-1.061 0L4 13.561A.75.75 0 115.06 12.5L9 16.44 19.066 6.376z"></path></svg> Roubo, como assalto à mão armada.</li><li class="styled__ListItem-sc-7qzbmg-6 ZiKNw description-theft"><svg width="24" height="24" viewBox="0 0 24 24" fill="inherit" class="styled__Check-sc-7qzbmg-8 jPQIpv" style="
    fill: rgb(0, 128, 0);
    min-width: 24px;
    height: 18px;
    margin-right: 5px;
"><path d="M19.066 6.375a.75.75 0 111.06 1.06L9.531 18.031a.747.747 0 01-1.061 0L4 13.561A.75.75 0 115.06 12.5L9 16.44 19.066 6.376z"></path></svg><span>Furto qualificado - o tipo de furto que deixa vestígios.</span><span class="desktop-text"></span></li><li class="styled__ListItem-sc-7qzbmg-6 ZiKNw"><svg width="24" height="24" viewBox="0 0 24 24" fill="inherit" class="styled__Check-sc-7qzbmg-8 jPQIpv" style="
    fill: rgb(0, 128, 0);
    min-width: 24px;
    height: 18px;
    margin-right: 5px;
"><path d="M19.066 6.375a.75.75 0 111.06 1.06L9.531 18.031a.747.747 0 01-1.061 0L4 13.561A.75.75 0 115.06 12.5L9 16.44 19.066 6.376z"></path></svg> Quebra acidental.</li></ul><p class="styled__SubTitle-sc-7qzbmg-2 jpsaQH" style="
    font-weight: bold;
    font-size: 14px;
    color: rgb(40, 40, 40);
    padding: 16px 0px 12px;
">O que a seguradora não cobre</p><ul class="styled__List-sc-7qzbmg-5 bkmjwa" style="
    margin: 0px;
    padding: 0px;
    font-weight: normal;
"><li class="styled__ListItem-sc-7qzbmg-6 ZiKNw description-theft" style="
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: rgb(87, 87, 87);
    margin: 0px 0px 8px -4px;
"><svg viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" class="styled__Close-sc-7qzbmg-9 ilGGJb" style="
    fill: rgb(248, 0, 50);
    min-width: 24px;
    height: 18px;
    margin-right: 5px;
"><path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit"></path></svg><span style="
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
">Furto simples - o tipo de furto sem rastro, que leva o produto sem você perceber.</span></li><li class="styled__ListItem-sc-7qzbmg-6 ZiKNw" style="
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: rgb(87, 87, 87);
    margin: 0px 0px 8px -4px;
"><svg viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" class="styled__Close-sc-7qzbmg-9 ilGGJb" style="
    fill: rgb(248, 0, 50);
    min-width: 24px;
    height: 18px;
    margin-right: 5px;
"><path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit"></path></svg> Desaparecimento simples </li></ul><p class="styled__SubTitle-sc-7qzbmg-2 jpsaQH" style="
    font-weight: bold;
    font-size: 14px;
    color: rgb(40, 40, 40);
    padding: 16px 0px 12px;
">Franquia: você paga até 35% pra seguradora</p><p class="styled__Text-sc-7qzbmg-4 kMauoY" style="
    font-size: 14px;
    color: rgb(87, 87, 87);
">A franquia é o valor que você vai precisar pagar caso o pior aconteça, e funciona pra proteger a seguradora do mau uso do seguro. Em caso de:</p><br><ul class="styled__List-sc-7qzbmg-5 bkmjwa" style="
    margin: 0px;
    padding: 0px;
    font-weight: normal;
"><li class="styled__ListItem2-sc-7qzbmg-7 dDHngj" style="
    list-style-type: disc;
    font-size: 14px;
    line-height: 18px;
    color: rgb(87, 87, 87);
    margin-left: 16px;
"><span style="
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
">roubo ou furto qualificado:</span> você paga <text class="styled__Span-sc-7qzbmg-3 kHVUdG" style="
    font-weight: bold;
    font-size: 14px;
    color: rgb(87, 87, 87);
">35% do valor do produto.</text></li><li class="styled__ListItem2-sc-7qzbmg-7 dDHngj" style="
    list-style-type: disc;
    font-size: 14px;
    line-height: 18px;
    color: rgb(87, 87, 87);
    margin-left: 16px;
"><span style="
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
">quebra acidental:</span> você paga <text class="styled__Span-sc-7qzbmg-3 kHVUdG" style="
    font-weight: bold;
    font-size: 14px;
    color: rgb(87, 87, 87);
">35% do valor do produto.</text></li></ul><br><p class="styled__Text-sc-7qzbmg-4 kMauoY no-break-lines" style="
    font-size: 14px;
    color: rgb(87, 87, 87);
">A parte que você vai pagar é calculada em cima do valor da nota fiscal do produto.&nbsp;<br><br>A franquia é um valor pago direto pra seguradora, e não é abatido do pagamento do produto, tá?</p></div><a class="styles__Link-sc-1kcmk96-0 dVJOmO" style="
    display: table;
    margin: 0px auto 30px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    text-align: center;
    color: rgb(102, 102, 102);
">saiba mais como usar o seguro</a></div>



 <script>
        // Seleciona o elemento div com o ID "atualizar"
        var divAtualizar = document.getElementById("atualizar");

        // Adiciona um ouvinte de evento de clique ao elemento
        divAtualizar.addEventListener("click", function() {
            // Recarrega a página
            location.reload();
        });
    </script>