<div title="como avaliamos as lojas parceiras" class="src__Content-sc-gvmvq-1 hPBthO" style="
    background: rgb(255, 255, 255);
    padding: 15px;
    min-height: 100%;
    width: 100%;
"><div class="navigation__Block-sc-qxn7tf-5 hNQeeC" style="
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
"><div onclick="fecharPopup()" class="navigation__CloseButton-sc-qxn7tf-6 cpXcbs"><svg viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" width="24" height="24"><path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit"></path></svg></div></div><p class="src__Title-sc-gvmvq-0 cWMAqx" style="
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    font-size: 21px;
    text-transform: lowercase;
">como avaliamos as lojas parceiras</p><div class="content__Container-sc-rzpfgo-0 bwa-dMR" style="
    font-size: 14px;
    margin-top: 18px;
    --dark: #666;
    --darker: #333;
"><p class="content__Text-sc-rzpfgo-2 XjwEW" style="
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--dark);
">Criamos um <strong>sistema de avaliação</strong> das nossas lojas parceiras pra te ajudar a comprar aqui na Americanas! Legal, né?</p><p class="content__Text-sc-rzpfgo-2 XjwEW" style="
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--dark);
">As lojas que mais se destacam podem receber <strong>selos e medalhas</strong>, olha só como funciona:</p><h2 class="content__Title-sc-rzpfgo-1 gcQptk" style="font-weight: 700;line-height: 18px;margin-bottom: 12px;color: var(--darker);">Selos de entrega no prazo e bom atendimento</h2><p class="content__Text-sc-rzpfgo-2 XjwEW" style="
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--dark);
">A gente te mostra quando uma loja tem histórico de entrega pontual e oferece bom atendimento no pós-compra.</p><h2 class="content__Title-sc-rzpfgo-1 gcQptk" style="
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 12px;
    color: var(--darker);
">Medalhas de bronze, prata e ouro</h2><p class="content__Text-sc-rzpfgo-2 XjwEW" style="
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--dark);
">Lojas que não param de crescer e mantêm bom atendimento! A única diferença entre elas é o número de vendas no último mês.</p><h2 class="content__Title-sc-rzpfgo-1 gcQptk" style="
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 12px;
    color: var(--darker);
">Loja Diamante</h2><p class="content__Text-sc-rzpfgo-2 XjwEW" style="
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--dark);
">São lojas relevantes do mercado, com marca conhecida no Brasil ou muito forte dentro do seu segmento aqui na Americanas. Uma Loja Diamante tem vendas consolidadas e oferece bom atendimento.</p><p class="content__Text-sc-rzpfgo-2 XjwEW" style="
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--dark);
">E o melhor: a avaliação de tuuudo isso é <strong>atualizada diariamente</strong>, tá? Tudo pra você comprar com confiança :)</p></div></div>