<div id="expand11" onclick="expandir()" class="expand-button__ExpandButtonContainer-sc-18o9cin-0 cYCgzf" style="
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -1px;
    left: 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px -22px 15px -5px;
    padding-bottom: 10px;
    border-radius: 0px 0px 16px 16px;
"><button class="expand-button__ExpandButtonUI-sc-18o9cin-1 cjvnjc" style="
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: inline-grid;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px 12px;
    position: relative;
    width: 172px;
    font-size: 16px;
    line-height: 20px;
    color: rgb(248, 0, 50);
    border: 2px solid rgb(248, 0, 50);
    text-transform: lowercase;
    font-weight: 700;
">Ver Mais</button></div>