<style>

  @media screen and (max-width: 767px){


    .hjCJfb {
    background: rgb(241, 241, 241);
    padding: 10px 16px 0px;
}
.imOqUG {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .bAwDMv {
    width: 100%;
    flex: 0 1 100%;
}

    .LjPjx {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 0px 0px;
    border-top: 1px solid rgb(204, 204, 204);
}

    .LjPjx {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 0px 0px;
    border-top: 1px solid rgb(204, 204, 204);
}

    .dCMCYo {
    flex-wrap: nowrap;
    padding-top: 24px;
}

    
.imOqUG {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gTmXtC {
    width: 100%;
    margin: 50px 0px;
    color: rgb(102, 102, 102);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
}

    .cNPplk {
    display: flex;
    flex: 0 1 auto;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
}

    .iFfTUH {
    width: 80px;
    height: 80px;
    fill: rgb(206, 206, 206);
    margin-right: 20px;
}

    .iFfTUH {
    width: 80px;
    height: 80px;
    fill: rgb(206, 206, 206);
    margin-right: 20px;
}

    * {
    box-sizing: border-box;
}

    .ibTtjE {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
}

    .imGfMI {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

    
.imGfMI {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}
.fSnLcO {
    text-align: center;
}
    .gNhuJV {
    {color: rgb(248, 0, 50); } 


    .CbBuQ {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

    
.CbBuQ {
    margin-bottom: 15px;
}

  .cMLbxo {
    display: table;
    margin: 0px auto;
    max-width: 325px;
}


    .eKbFpH {
    -webkit-box-align: baseline;
    align-items: baseline;
}

    .eKbFpH::before {
    content: "";
    border: 4px solid rgb(248, 0, 50);
    border-radius: 20px;
    margin: 0px 10px;
}

    .gNhuJV {
    color: rgb(248, 0, 50);
}

    .gNhuJV {
    color: rgb(248, 0, 50);
    }


.ibTtjE {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
}

    
    

    
  }
  
</style>



<main class="styles__Wrapper-sc-1phvq7q-2 hjCJfb"><div class="grid__StyledGrid-sc-1man2hx-0 imOqUG"><div class="col__StyledCol-sc-1snw5v3-0 bAwDMv"><div class="src__SortOptionsWrapper-sc-1c6bco3-0 LjPjx"><button class="sort-by__ViewModeButton-sc-1ou039l-0 hHyMWb"><a class="sort-by__NavUI-sc-1ou039l-1 hSPAGD" aria-current="page" href="/busca/a#modal-sort-by"><svg viewBox="0 0 15 15" aria-labelledby="sortIcon sortDesc" class="sort-by__SortButtonIcon-sc-1ou039l-3 jQRnEi"><path fill="inherit" d="M7.36 2.988a.645.645 0 01-.02.912c-.271.26-.7.26-.972 0L4.82 2.415v10.68a.687.687 0 11-1.375 0V2.415L1.895 3.9c-.271.26-.7.26-.971 0a.645.645 0 01-.02-.912l.02-.02L3.646.36c.272-.26.7-.26.972 0L7.34 2.969zm6.875 8.413a.645.645 0 01-.02.02l-2.722 2.608c-.272.26-.7.26-.972 0L7.799 11.42a.645.645 0 010-.931c.271-.26.7-.26.972 0l1.549 1.483V1.293a.687.687 0 111.375 0v10.68l1.548-1.484c.272-.26.7-.26.972 0a.645.645 0 01.02.912z"></path></svg></a><div class="sort-by__BaselineContainer-sc-1ou039l-2 eyvmvd"><a class="sort-by__SortButtonLink-sc-1ou039l-4 dhAQMO" aria-current="page" href="/busca/a#modal-sort-by">Ordenar</a><span class="sort-by__SortSelectedButton-sc-1ou039l-5 fMoMEV">mais relevantes</span></div></button><div class="display-options__DisplayOptionsContainer-sc-15bxj01-0 dlhPKx"><div class="display-options__DisplayOptionsBox-sc-15bxj01-1 cNAWbW"><button class="display-options__ViewModeButton-sc-15bxj01-2 gDBVtC"><svg aria-labelledby="listIcon listDesc" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="display-options__ListButtonIcon-sc-15bxj01-4 hodA-do"><title>icone de lista</title><path fill="inherit" d="M2 8.667h1.333V7.333H2v1.334zm0 2.666h1.333V10H2v1.333zM2 6h1.333V4.667H2V6zm2.667 2.667H14V7.333H4.667v1.334zm0 2.666H14V10H4.667v1.333zm0-6.666V6H14V4.667H4.667zM2 8.667h1.333V7.333H2v1.334zm0 2.666h1.333V10H2v1.333zM2 6h1.333V4.667H2V6zm2.667 2.667H14V7.333H4.667v1.334zm0 2.666H14V10H4.667v1.333zm0-6.666V6H14V4.667H4.667z"></path></svg><span class="display-options__ButtonText-sc-15bxj01-5 hWLYmt">Lista</span></button><button selected="" class="display-options__ViewModeButton-sc-15bxj01-2 bVVqga"><svg aria-labelledby="gridIcon gridDesc" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" selected="" class="display-options__GridButtonIcon-sc-15bxj01-3 lebiFf"><title>icone de grade</title><path fill="#fff" fill-opacity="0.01" d="M0 0h16v16H0z"></path><path fill="inherit" fill-rule="evenodd" clip-rule="evenodd" d="M9.616 3.152V5.09h3.232V3.15H9.616zm-.452-.97a.517.517 0 00-.518.517v2.844c0 .286.232.518.518.518H13.3a.517.517 0 00.517-.518V2.7a.517.517 0 00-.517-.517H9.164z"></path><path fill="inherit" fill-rule="evenodd" clip-rule="evenodd" d="M3.151 3.152v4.525h3.233V3.152H3.15zm-.452-.97a.517.517 0 00-.517.517v5.43c0 .286.231.517.517.517h4.137a.517.517 0 00.517-.517V2.7a.517.517 0 00-.517-.517H2.7z"></path><path fill="inherit" fill-rule="evenodd" clip-rule="evenodd" d="M3.151 10.91v1.938h3.233V10.91H3.15zM2.7 9.94a.517.517 0 00-.517.517V13.3c0 .286.231.517.517.517h4.137a.517.517 0 00.517-.517v-2.844a.517.517 0 00-.517-.518H2.7z"></path><path fill="inherit" fill-rule="evenodd" clip-rule="evenodd" d="M9.616 8.323v4.525h3.232V8.323H9.616zm-.452-.97a.517.517 0 00-.518.518v5.43c0 .286.232.517.518.517H13.3a.517.517 0 00.517-.517v-5.43a.517.517 0 00-.517-.517H9.164z"></path></svg><span selected="" class="display-options__ButtonText-sc-15bxj01-5 bHwzcn">Grade</span></button></div></div></div><div class="grid__StyledGrid-sc-1man2hx-0 imOqUG src__GridUI-sc-1c6bco3-1 dCMCYo"><div class="empty-products__Container-sc-1u1ifvk-0 gTmXtC"><div class="empty-products__IconWrapper-sc-1u1ifvk-1 cNPplk"><svg width="80" height="80" viewBox="0 0 9 15" fill="#f80032" xmlns="http://www.w3.org/2000/svg" class="trending-topics__Highlight-sc-1dvpwj6-3 iHDczH"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.484h9v2.032H0v-2.032zm4.447-9.29a5.075 5.075 0 012.26.484c.659.322.988.931.988 1.827v3.408c0 .236.005.522.015.859-.006.18.036.358.12.517.078.1.181.178.299.225v.287H5.925a2.095 2.095 0 01-.128-.423 4.594 4.594 0 01-.057-.45 4.14 4.14 0 01-.966.741c-.454.246-.963.371-1.479.363a2.61 2.61 0 01-1.738-.576A2.013 2.013 0 01.87 8.823 2.1 2.1 0 011.973 6.84a5.052 5.052 0 011.778-.478l.69-.081c.273-.023.543-.08.803-.17a.587.587 0 00.434-.553.648.648 0 00-.331-.63 2.141 2.141 0 00-.97-.174 1.295 1.295 0 00-1.017.34 1.385 1.385 0 00-.284.682H1.12c.017-.58.216-1.14.569-1.603.535-.653 1.454-.98 2.758-.98zm1.222 3.994a2.24 2.24 0 01-.387.188 3.352 3.352 0 01-.537.132l-.455.082a3.03 3.03 0 00-.917.266.883.883 0 00-.47.825.85.85 0 00.29.718c.202.151.449.229.7.222.43.002.85-.127 1.205-.368.368-.246.558-.693.573-1.343l-.002-.722zM9 0v2.032H0V0h9z" fill="#f80032"></path></svg></div><div class="empty-products__TextWrapper-sc-1u1ifvk-3 ibTtjE"><p class="empty-products__TextUI-sc-1u1ifvk-4 empty-products__Title-sc-1u1ifvk-5 imGfMI"><span class="empty-products__TitleContent-sc-1u1ifvk-6 fSnLcO"><span class="src__Text-sc-154pg0p-0 empty-products__Red-sc-1u1ifvk-9 gNhuJV"></span>Pesquise milhares de produtos!<!-- --></span></p><p class="empty-products__TextUI-sc-1u1ifvk-4 CbBuQ"></p><ul class="empty-products__List-sc-1u1ifvk-7 cMLbxo"><li class="empty-products__ListItem-sc-1u1ifvk-8 eKbFpH"><span class="src__Text-sc-154pg0p-0 gLIAcy"></span></li><li class="empty-products__ListItem-sc-1u1ifvk-8 eKbFpH"><span class="src__Text-sc-154pg0p-0 gLIAcy"></span></li></ul></div></div></div></div></div></main>