<div class="styles__PaymentInfoWrapper-sc-meyq31-0 hdSHjf"><table class="styles__TableStyled-sc-meyq31-5 hCMYkp"><tbody class="styles__TBody-sc-meyq31-6 fwJJTz"></tbody></table>
<div style="    margin-top: 20px;" class="styles__SmallText-sc-meyq31-12 styles__InterestRateDisclaimer-sc-meyq31-13 iGMIaF">
  
  
  
<div class="styles__TextWrapper-sc-meyq31-2 bcmtkT"><div><span class="styles__Price-sc-meyq31-1 gxwtdx" style="font-size: 20px;">{{ product.price | money }}</span> <span style="font-size: 15px;">no Pix.</span></div>O pagamento é instantâneo e só pode ser à vista. Na etapa de finalização da compra, a gente explica direitinho como pagar com Pix.
</div>

</div></div>