<style>
#text_233434 {display: none;}
  @media screen and (max-width: 767px){

    #text_233434 {display: block;}



    .WtAxH {
    padding: 0px 12px;
}

    .fkNPSi {
    font-size: 14px;
    color: rgb(102, 102, 102);
}

    .cEvkKn {
    margin-bottom: 15px;
      margin-top: 20px;
}

    .kVILVJ .text {
    color: rgb(0, 0, 0);
}

    
.cEvkKn * {
    color: rgb(102, 102, 102);
}


    .izByKv {
    background-color: transparent;
    border: 0px;
    outline: none;
    font-size: 14px;
    color: rgb(102, 102, 102);
    padding: 0px;
    margin: 20px auto 15px;
    text-decoration: underline;
    cursor: pointer;
    display: inherit;
}
  }
  
</style>
{% schema %}
{
  "name": "Parágrafo",
  "settings": [
    {
      "type": "text",
      "label": "Paragrafo",
      "id": "ph_text",
      "default": "Presente de Natal em promoção é na Americanas!"
    }
  ]
}
{% endschema %}


<div id="text_233434" class="src__ZionContentContainer-sc-su5i0q-0 WtAxH"><div class="src__Description-sc-zzekp6-0 fkNPSi"><div class="src__ViewUI-sc-1anmcky-0 cEvkKn"><p class="text" style="text-align:initial;font-size:14px; text-align: center;">{{ section.settings.ph_text }}</p></div><div class="src__ViewUI-sc-1anmcky-0 cEvkKn"><p class="text" style="text-align:initial;font-size:14px"></p></div><div class="src__ViewUI-sc-1anmcky-0 cEvkKn"><p class="text" style="text-align:initial;font-size:14px"></p></div></div><button href="#" class="src__SeeMore-sc-zzekp6-1 izByKv">mostrar mais</button></div>