<link rel="stylesheet" href="{{ 'home.css' | asset_url }}">


<!-------->
<main class="src__Container-sc-m79eh9-0 ihEuUG">
{% section 'ame-config1' %}

{% section 'ame-cupom-desconto' %}
{% section 'ame-slider-desktop' %}
{% section 'ame-icones' %}
{% section 'ame-produtos01' %}
{% section 'ame-produtos02' %}
{% section 'ame-icones2' %}
{% section 'ame-produtos03' %}
{% section 'ame-produtos04' %}
{% section 'mini-footerpc' %}
  </main>
<!-------->

<!-------->
<main class="src__Container-sc-m79eh9-0 ihEuUG">

{% section 'ame-config2' %}
{% section 'ame-slider-mobile' %}
{% section 'ame-iconsp-mobile' %}
{% section 'ame-produtor01' %}
{% section 'ame-produtor02' %}
{% section 'ame-promotion' %}
{% section 'ame-produtor03' %}
{% section 'ame-produtor04' %}
{% section 'min-footermobile' %}  
</main>
<!--------->