<link rel="stylesheet" href="{{ 'categorias-home.css.css' | asset_url }}">


<!-------->
<main class="src__Container-sc-m79eh9-0 ihEuUG">
{% section 'ame-config1' %}

{% section 'h1-categoriaspc' %}
{% section 'ame-slider-desktop01' %}
{% section 'paragraph-desktop' %}

{% section 'ame-produtos0101' %}
{% section 'ame-icones201' %}
{% section 'ame-produtos0301' %}
{% section 'ame-produtos0401' %}

  </main>
<!-------->

<!-------->
<main class="src__Container-sc-m79eh9-0 ihEuUG">

{% section 'ame-config2' %}
{% section 'ame-h1-mobile' %}
{% section 'ame-slider-mobile01' %}
{% section 'paragraph-mobile' %}
  

{% section 'ame-produtor0101' %}
{% section 'ame-iconsp-mobile01' %}

  
{% section 'ame-produtor0201' %}

{% section 'ame-produtor0301' %}

</main>
<!--------->